0003.gif filter=lfs diff=lfs merge=lfs -text
0015.gif filter=lfs diff=lfs merge=lfs -text
0022.gif filter=lfs diff=lfs merge=lfs -text
0002.gif filter=lfs diff=lfs merge=lfs -text
0027.gif filter=lfs diff=lfs merge=lfs -text
0026.gif filter=lfs diff=lfs merge=lfs -text
0000.gif filter=lfs diff=lfs merge=lfs -text
0012.gif filter=lfs diff=lfs merge=lfs -text
0013.gif filter=lfs diff=lfs merge=lfs -text
0019.gif filter=lfs diff=lfs merge=lfs -text
0020.gif filter=lfs diff=lfs merge=lfs -text
0008.gif filter=lfs diff=lfs merge=lfs -text
0011.gif filter=lfs diff=lfs merge=lfs -text
0018.gif filter=lfs diff=lfs merge=lfs -text
0024.gif filter=lfs diff=lfs merge=lfs -text
0025.gif filter=lfs diff=lfs merge=lfs -text
0006.gif filter=lfs diff=lfs merge=lfs -text
0010.gif filter=lfs diff=lfs merge=lfs -text
0016.gif filter=lfs diff=lfs merge=lfs -text
0007.gif filter=lfs diff=lfs merge=lfs -text
0009.gif filter=lfs diff=lfs merge=lfs -text
0017.gif filter=lfs diff=lfs merge=lfs -text
0021.gif filter=lfs diff=lfs merge=lfs -text
0028.gif filter=lfs diff=lfs merge=lfs -text
0001.gif filter=lfs diff=lfs merge=lfs -text
0004.gif filter=lfs diff=lfs merge=lfs -text
0005.gif filter=lfs diff=lfs merge=lfs -text
0014.gif filter=lfs diff=lfs merge=lfs -text
0023.gif filter=lfs diff=lfs merge=lfs -text
